<h1>All Events</h1>
<table>
    <tr class="table-header">
        <td>Time</td>
        <td>Description</td>
        <td>User</td>
        <td>Calendar</td>
    </tr>
    <% @events.each do |event| %>
    <tr>
        <td><%= event.time %></td>
        <td><%= link_to event.desc, event_path(event.id) %></td>
        <td><%= event.user.email %></td>
        <td><%= link_to event.calendar.title, calendar_path(event.calendar.id) %></td>
    </tr>
    <% end %>
</table>