<div>
    <h2>Time: <%= @event.time %></h2>
    <p>description: <%= @event.desc %></p>
    <p>User: <%= @event.user.email %></p>
    <p>Calendar: <%= link_to @event.calendar.title, calendar_path(@event.calendar.id) %></p>
</div>