<table>
    <tr>
        <td>title</td>
        <td>user</td>
    </tr>
    <% @calendars.each do |calendar| %>
    <tr>
        <td><%= link_to calendar.title, calendar_path(calendar.id) %></td>
        <td><%= calendar.user.username %></td>
        <td><%= link_to "edit calendar", edit_calendar_path(calendar.id) %> </td>
        <td>
            <%= link_to "destroy calendar", calendar, confirm: "you sure you want to do this?", method: :delete %>
        </td>
    </tr>
    <% end %>
</table>