<table>
    <tr>
        <td>title</td>
        <td>user</td>
    </tr>
    <% @calendars.each do |calendar| %>
    <tr>
        <td><%= link_to calendar.title, calendar_path(calendar.id) %></td>
        <td><%= calendar.user.email %></td>
    </tr>
    <% end %>
</table>