<%= form_for(@calendar) do |f| %>
    <div class="field">
        <p>title</p>
        <%= f.text_field :title%>
    </div>
    <div class="field">
        <p>user</p>
        <%= f.collection_select :user_id, User.all, :id, :username %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>