<div>
    <p class = "show-header"><%= @calendar.title %></p>
    <p class = "show-info">Calendar Owner: <%= @calendar.user.email %></p>
    <br>
    <p class = "show-header">5 Next Events:</p>
    <table>
        <tr class = "table-header">
            <td>Description</td>
            <td>Time</td>
        </tr>
        <%@events.each do |event| %>
            <tr>
                <td><%=link_to event.desc, event_path(event.id) %></td>
                <td><%= event.time %></td>
            </tr>
        <%end%>
    </table>
</div>